/* * {
  padding: 0;
  margin: 0;
} */

/* #root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.Register-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  height: 100vh;
  width: 100%;
  .Register-img {
    width: 35%;
    height: 70%;
    img {
      width: 95%;
      height: 100%;
    }
  }
}

.register-container {
  width: 28.5vw;
  height: 85vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  font-family: poppins;
  border: 1px solid black;
  font-size: 0.8rem;
  padding: 1rem;
  border-radius: 1rem;

  h1 {
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
  label {
    display: block;
  }
  input {
    height: 1.5rem;
    padding: 0.5rem;
    width: 25rem;
    margin-bottom: 1rem;
    border-radius: 5rem;
    background-color: rgb(239, 239, 239);
    border: none;
    margin-top: 0.2rem;
    padding-left: 1rem;
    font-size: 1rem;
    color: rgb(0, 0, 0);
  }

  button {
    font-size: 1rem;
    height: 2.5rem;
    padding: 0.5rem;
    width: 26rem;
    border-radius: 5rem;
    background-color: rgb(62, 40, 173);
    color: white;
    border: none;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
  }
  button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(255, 39, 39);
  }
}

.register-link {
  font-weight: bold;
  transition: transform 0.3s ease;
  text-decoration: none;
}
.register-link:hover {
  transform: scale(2.5);
  color: black;
}
